*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 40%; } }

body {
  font-weight: 300;
  line-height: 1.6;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif; }

.container {
  display: grid;
  grid-template-rows: 90vh repeat(6, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 60vh repeat(6, min-content); } }

@media only screen and (max-width: 62.5em) {
  #intros {
    width: 60rem; } }

@media only screen and (max-width: 62.5em) {
  #intros {
    width: 50rem; } }

@media only screen and (max-width: 37.5em) {
  #intros {
    width: 35rem; } }

.foot {
  grid-column: center-start / center-end;
  padding: 2rem;
  margin-top: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .foot {
      grid-column: full-start / full-end; } }
  .foot img {
    width: 50%; }

.header {
  grid-column: center-start / center-end;
  margin-top: 15rem; }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-column: full-start / full-end; } }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.project1 {
  grid-column: center-start / center-end;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .project1 {
      grid-column: full-start / full-end; } }
  .project1__content {
    padding: 10rem; }
    @media only screen and (max-width: 50em) {
      .project1__content {
        padding: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .project1__content {
        padding: 2rem; } }

.project-par {
  font-size: 2rem;
  font-weight: 500; }

.project__answer {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .project__answer {
      flex-wrap: wrap; } }
  .project__answer-gif {
    flex: 0 0 40%; }
    @media only screen and (max-width: 37.5em) {
      .project__answer-gif {
        flex: 0 0 100%; } }
  .project__answer-par {
    flex: 0 0 40%; }
    @media only screen and (max-width: 37.5em) {
      .project__answer-par {
        flex: 0 0 100%; } }

.img.img-gif {
  width: 10%; }

.project2 {
  grid-column: center-start / center-end;
  padding: 2rem;
  margin-top: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .project2 {
      grid-column: full-start / full-end; } }

.project3 {
  grid-column: center-start / center-end;
  padding: 2rem;
  margin-top: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .project3 {
      grid-column: full-start / full-end; } }

.project4 {
  grid-column: center-start / center-end;
  padding: 2rem;
  margin-top: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .project4 {
      grid-column: full-start / full-end; } }

.project5 {
  grid-column: center-start / center-end;
  padding: 2rem;
  margin-top: 20rem; }
  @media only screen and (max-width: 37.5em) {
    .project5 {
      grid-column: full-start / full-end; } }

.heading-1 {
  font-size: 4em;
  letter-spacing: 3px; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 2.8rem; } }
