.project1{
	grid-column: center-start / center-end;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 2rem;

	@media only screen and (max-width: $bp-small) {
		grid-column: full-start / full-end;
	}

	&__content{
		padding: 10rem;

	@media only screen and (max-width: $bp-medium) {
		padding: 5rem;
	}

	@media only screen and (max-width: $bp-small) {
		padding: 2rem;
	}				
  }
}


.project-par{
	font-size: 2rem;
	font-weight: 500;

}

.project__answer{
	display: flex;
	justify-content: space-around;
	align-items: center;





	@media only screen and (max-width: $bp-small) {
		flex-wrap: wrap;
	}	





	&-gif{
		flex: 0 0 40%;
		@media only screen and (max-width: $bp-small) {
		flex:  0 0 100%;

			}		

	}

	&-par{
		flex: 0 0 40%;
	@media only screen and (max-width: $bp-small) {
		flex:  0 0 100%;
	}				
	}


}


.img.img-gif{
	width: 10%;
}
